.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.5em;
  margin-top: 4.5em;
  margin-bottom: 2.7em;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.buy-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buy-section > p {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0%;
}

.card {
  width: 18rem;
  margin-top: 1em;
}
