.card-container {
  justify-content: center;
  margin: 5em 11%;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.buy-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buy-section > p {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0%;
}

.card {
  width: 18rem;
  box-shadow: 0px 1px 7px 0px;
}
